{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}

<div class="row justify-content-md-center">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card shadow p-4">
            <h1 class="text-center mb-4">Create Account</h1>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_username" class="form-label">Username</label>
                    {{ form.username }}
                </div>

                <div class="mb-3">
                    <label for="id_email" class="form-label">Email</label>
                    {{ form.email }}
                </div>

                <div class="mb-3">
                    <label for="id_password1" class="form-label">Password</label>
                    {{ form.password1 }}
                    {% if form.password1.help_text %}
                        <small class="form-text text-muted">
                          {{ form.password1.help_text|safe }}
                        </small>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="id_password2" class="form-label">Confirm Password</label>
                    {{ form.password2 }}
                    {% if form.password2.help_text %}
                        <small class="form-text text-muted">
                          {{ form.password2.help_text|safe }}
                        </small>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary w-100">Sign Up</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}